@charset "UTF-8";
.popup {
  padding: 15px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  background-color: rgba(27, 27, 27, 0.6);
}
.popup._active {
  opacity: 1;
  pointer-events: auto;
}
.popup._active .popup__body {
  transform: scale(1);
}
.popup__body {
  /* Если меньше контейнера */
  /* Если меньше контейнера */
  /* Если меньше контейнера */
  /* Если меньше контейнера */
  margin: auto;
  width: 100%;
  transform: scale(0.9);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease 0s;
  background-color: var(--white);
}
.popup__body {
  padding-top: 32px;
}
@media (max-width: 1320px) {
  .popup__body {
    padding-top: calc(25px + 7 * (100vw - 320px) / (1320 - 320));
  }
}
.popup__body {
  padding-right: 28px;
}
@media (max-width: 1320px) {
  .popup__body {
    padding-right: calc(15px + 13 * (100vw - 320px) / (1320 - 320));
  }
}
.popup__body {
  padding-left: 28px;
}
@media (max-width: 1320px) {
  .popup__body {
    padding-left: calc(15px + 13 * (100vw - 320px) / (1320 - 320));
  }
}
.popup__body {
  padding-bottom: 32px;
}
@media (max-width: 1320px) {
  .popup__body {
    padding-bottom: calc(25px + 7 * (100vw - 320px) / (1320 - 320));
  }
}
.popup__top {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Если меньше контейнера */
  font-weight: 500;
  line-height: 116.6666666667%;
  text-align: center;
  color: var(--black-700);
}
.popup__top {
  font-size: 24px;
}
@media (max-width: 1320px) {
  .popup__top {
    font-size: calc(20px + 4 * (100vw - 320px) / (1320 - 320));
  }
}
.popup__top:not(:last-child) {
  /* Если меньше контейнера */
}
.popup__top:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1320px) {
  .popup__top:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth .field-item:not(:last-child) {
  /* Если меньше контейнера */
}
.popup-auth .field-item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1320px) {
  .popup-auth .field-item:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth .field-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 142.8571428571%;
}
.popup-auth .field-item input {
  padding: 0 15px;
  /* Если меньше контейнера */
  /* Если меньше контейнера */
}
.popup-auth .field-item input {
  min-height: 60px;
}
@media (max-width: 1320px) {
  .popup-auth .field-item input {
    min-height: calc(50px + 10 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth .field-item input {
  font-size: 18px;
}
@media (max-width: 1320px) {
  .popup-auth .field-item input {
    font-size: calc(16px + 2 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth .captcha-block:not(:last-child) {
  /* Если меньше контейнера */
}
.popup-auth .captcha-block:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 1320px) {
  .popup-auth .captcha-block:not(:last-child) {
    margin-bottom: calc(20px + 5 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__prompt {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.8571428571%;
  text-align: left;
  color: var(--black-700);
}
.popup-auth__prompt:not(:last-child) {
  /* Если меньше контейнера */
}
.popup-auth__prompt:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1320px) {
  .popup-auth__prompt:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__submit {
  width: 100%;
  /* Если меньше контейнера */
  /* Если меньше контейнера */
  font-weight: 600;
  line-height: 140%;
}
.popup-auth__submit {
  min-height: 65px;
}
@media (max-width: 1320px) {
  .popup-auth__submit {
    min-height: calc(55px + 10 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__submit {
  font-size: 20px;
}
@media (max-width: 1320px) {
  .popup-auth__submit {
    font-size: calc(16px + 4 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__submit:not(:last-child) {
  /* Если меньше контейнера */
}
.popup-auth__submit:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1320px) {
  .popup-auth__submit:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.popup-auth__links-item {
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  /* Если меньше контейнера */
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  color: var(--purple-500);
}
.popup-auth__links-item {
  font-size: 16px;
}
@media (max-width: 1320px) {
  .popup-auth__links-item {
    font-size: calc(14px + 2 * (100vw - 320px) / (1320 - 320));
  }
}
.popup-auth__links-item:not(:last-child) {
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
}
.popup-auth__links-item:not(:last-child):after {
  content: "|";
  position: absolute;
  top: 0;
  left: 100%;
  color: rgba(144, 144, 144, 0.5);
}
@media (any-hover: hover) {
  .popup-auth__links-item:hover {
    text-decoration: underline;
  }
}