:root {
  --white: #ffffff;
  --grey-100: #e8f5f4;
  --grey-200: #dbe4ef;
  --grey-300: #b6b6b6;
  --grey-400: #898989;
  --black-700: #424242;
  --black-900: #232325;
  --black-1000: #000000;
  --purple-300: #7f63d3;
  --purple-400: #6c51bb;
  --purple-500: #564293;
  --blue-200: #5a92c0;
  --blue-300: #4d7bf1;
  --blue-400: #3261e9;
  --green-200: #aefaed;
  --green-300: #8ff2e2;
  --background-page: #e8f5f4;
  --font-family: "Inter", sans-serif;
}