.cross {
  max-width: 13px;
  min-width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s ease 0s;

  &:before,
  &:after {
    content: '';
    width: 13px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: background-color 0.2s ease 0s;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
