//< " ФАЙЛ СТИЛЕЙ КОРЗИНЫ " >=============================================================================================================>//
.basket {

	// .basket__open

	&__open {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}

	// .basket__wrapper

	&__wrapper {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		z-index: 100;
		pointer-events: none;
		transition: background-color .5s ease .0s;
		background-color: transparent;
	}

	// .basket__dropdown

	&__dropdown {
		@include adaptiv-value("padding", 30, 15, 1);
		@include adaptiv-value("width", 380, 260, 1);
		height: 100%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 150;
		transition: right .5s ease .0s;
		background-color: $colorWhite;
	}
}

.basket-open {

	// .basket-open__icon

	&__icon {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	// .basket-open__value

	&__value {
		@include adaptiv-value("font-size", 14, 12, 1);
		font-weight: 600;
		line-height: 17 / 14 * 100%;
		color: #5C5C5C;
	}
}

.basket-dropdown {

	// .basket-dropdown__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 30, 15, 1);
		}
	}

	// .basket-dropdown__column

	&__column {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow: auto;
	}

	// .basket-dropdown__empty

	&__empty {
		margin: auto 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		animation-name: animationEmpty;
		animation-duration: 1.5s;

		@keyframes animationEmpty {
			0% {
				opacity: 0;
				transform: translateY(5%);
			}

			100% {
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}

	// .basket-dropdown__footer

	&__footer {
		display: flex;
		flex-direction: column;
	}
}

.basket-dropdown-top {

	// .basket-dropdown-top__title

	&__title {
		@include adaptiv-value("font-size", 24, 16, 1);
		font-weight: 700;
		line-height: 29 / 24 * 100%;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	// .basket-dropdown-top__close

	&__close {
		flex: 0 0 32px;
		height: 32px;
		display: block;
		background-color: transparent;

		@media (any-hover: hover) {
			&:active {
				transform: scale(0.94);
			}
		}
	}
}

.basket-dropdown-empty {

	// .basket-dropdown-empty__image

	&__image {
		@include adaptiv-value("width", 120, 80, 1);
		@include adaptiv-value("height", 120, 80, 1);
		display: flex;
		justify-content: center;
		align-items: flex-end;

		img {
			max-width: 100%;
		}

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 20, 10, 1);
		}
	}

	// .basket-dropdown-empty__title

	&__title {
		text-align: center;
		@include adaptiv-value("font-size", 22, 16, 1);
		font-weight: 600;
		line-height: 27 / 22 * 100%;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .basket-dropdown-empty__text

	&__text {
		text-align: center;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 400;
		line-height: 24 / 16 * 100%;
		color: rgba(0, 0, 0, 0.4);

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 40, 30, 1);
		}
	}

	// .basket-dropdown-empty__back

	&__back {}
}

.basket-dropdown-footer {

	// .basket-dropdown-footer__list

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 25, 15, 1);
		}
	}

	// .basket-dropdown-footer__item

	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 20, 10, 1);
		}
	}

	// .basket-dropdown-footer__title

	&__title {
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 400;
		line-height: 19 / 16 * 100%;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	// .basket-dropdown-footer__price

	&__price {
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 600;
		line-height: 19 / 15 * 100%;
	}

	// .basket-dropdown-footer__button

	&__button {}
}